# Archivos compilados de Java
out/
build/
dist/
*.class
*.jar

# NetBeans
nbproject/private/

# IntelliJ, VS Code y Eclipse
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
